<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Data.Mining" version="1.0.0" targetFramework="net46" />
  <package id="Data.Warehouse" version="1.0.8" targetFramework="net46" />
  <package id="Data.Warehouse.Crawler" version="1.0.9" targetFramework="net46" />
  <package id="Data.Web" version="1.0.2" targetFramework="net46" />
</packages>