<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISatellite" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53978/Satellite.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISatellite" contract="Satellite.ISatellite"
                name="BasicHttpBinding_ISatellite" />
        </client>
    </system.serviceModel>
</configuration>
